[submodule "multiplier_colors"]
	path = multiplier_colors
	url = https://github.com/multiplierx/multiplier-colors.git
[submodule "multiplier_icons"]
	path = multiplier_icons
	url = https://github.com/multiplierx/multiplier-icons.git
[submodule "dart_utils"]
	path = dart_utils
	url = https://github.com/multiplierx/dart-utils.git
